body{
    background: url(https://i.ibb.co/cwRfncM/alanzoka.png);
    font-family: 'Coming Soon', cursive;
    text-align: center;
}

#titulo {
    color: rgb(224, 11, 11);
}

.PrimeiraLista{
    list-style: none;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.segundaLista{
    list-style: none;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.img{
    width: 25px;
    height: 25px;
}

.text1{
    display: inline;
    background-color: orange;
    font-size: 30px
}

.text2{
    display: inline;
    background-color: orange;
    font-size: 30px
}

.linkeDin { 
    background-color: red;
    border: solid 7px
}

/* atividade modelo de caixa */

.box1{
    padding: 50px;
    margin-top: 10px;
    background-color:red;
    margin-left: 50px;
    width: 100px;
    font-weight: bold;
    color: black;
    border: solid;
}

.box2{
    padding: 25px;
    margin-top: 10px;
    background-color: green;
    margin-left: 50px;
    width: 100px;
    font-weight: bold;
    color: black;
    border: solid;
}

.box3{
    padding: 10px 15px 20px 30px;
    margin-top: 10px;
    margin-left: 50px;
    background-color: blue;
    width: 100px;
    font-weight: bold;
    color: red;
    border: solid;
}

/* atividade posicionamento */

.posi1{
    position: relative;
    left: 100px;
    top: 50px;
    padding: 10px;
    margin-top: 10px;
    background-color:red;
    margin-left: 50px;
    width: 100px;
    font-weight: bold;
    color: black;
    border: solid;
}

.posi2{
    position: absolute;
    right: 100px;
    bottom: 50px;
    padding: 10px;
    margin-top: 10px;
    background-color: green;
    margin-left: 50px;
    width: 100px;
    font-weight: bold;
    color: black;
    border: solid;
}

.posi3{
    position:fixed;
    right: 50px;
    bottom: 50px;
    padding: 10px;
    margin-top: 10px;
    margin-left: 50px;
    background-color: blue;
    width: 100px;
    font-weight: bold;
    color: red;
    border: solid;
}

.posi4{
    position:sticky;
    top: 10px;
    padding: 10px;
    margin-top: 10px;
    background-color: yellow;
    margin-left: 50px;
    width: 100px;
    font-weight: bold;
    color: black;
    border: solid;
}

.zindex1{
    position:relative;
    top: 20px;
    right: 10px;
    padding: 10px;
    margin-top: 10px;
    background-color:red;
    margin-left: 50px;
    width: 100px;
    font-weight: bold;
    color: black;
    border: solid;
}

.zindex2{
    position: relative;
    z-index: 10;
    padding: 10px;
    background-color: green;
    margin-left: 50px;
    width: 100px;
    font-weight: bold;
    color: black;
    border: solid;
}

.formlink{
    color: black;
    font-weight: bold;
    font-size: 30px;
    position: absolute;
    bottom: -3560px;
    left: 800px;
    background-color: rgb(255, 0, 0);
    border: dotted;
    border-radius: 10px;
    
}

.formulario{
    align-items: center;
    
}

.box {
    width: 300px;
    height: 300px;
    background: #fff;
}
    